.step{
	color:white;
}	
	
}
.asdf{
border-color:green;	
border-collapse:collapse;	

	
}
.zxc{
	border-collapse:collapse;	
	
}	
.asd{
	border-color:green;	
border-collapse:collapse;
background-color:green;
color:white;	
}	
.khattar{
	
border-color:green;	
border-collapse:collapse;
	
	
	
}	
		
	
	
	



	
	
	
